body {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  background-color: aquamarine;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  width: 350px;
}
.box {
  border: 2px dashed brown;
  padding: 20px;
  margin: 20px 0;
}

.buttons {
  padding: 10px 15px;
  margin: 5px;
  border-radius: 10px;
}
#accept {
  background: #eaffea;
}
#reject {
  background: #eaffea;
}
#reset {
  background-color: #eaffea;
}
